.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15rem;
    display: inline-block;
  }

  .card-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  .precio{
    font-weight: bolder;
    font-size: 15px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    display: inline-block;
  }

  .col {
    display: inline-block;

  }

  /* Style Items */


  .btn {
    background-color: #27862a; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

  .btn:hover{
    cursor:pointer;
  }
  
  .cardStyle{
    border: none;
    margin-top: 24;
    margin-bottom: 24;
    background-color:#F2FEDC ; 
  }
  
  
  /*Count*/
  .btn_item_count{
    color: #000;
    border: none;
    background-color: #e4c360
  }  
  
  .titleStyle {
    padding-bottom: 24
  }
  .detailsStyle {
    background-color:#F2FEDC;
    margin-top: 20px;
    border-radius: 10%;
  }

  img {
    width: 80%!important;
    height: 300px;
    margin: 0 auto 0 auto;
  }